<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsxy.lose.mapper.LoseMapper">
    <select id="getMessage" resultType="com.hsxy.lose.pojo.Apply">
         select * from apply order by applyid desc
    </select>
    <select id="getAllTypes" resultType="java.lang.String">
        select typename from type
    </select>

    <select id="search" resultType="com.hsxy.lose.pojo.Apply">
        select * from apply where typeid=#{typeid} and name=#{name} and applytime=#{applytime}
    </select>
    <select id="search2" resultType="com.hsxy.lose.pojo.Apply">
        select * from apply where typeid=#{typeid}
    </select>
    <select id="search3" resultType="com.hsxy.lose.pojo.Apply">
        select * from apply where typeid=#{typeid} and applytime=#{applytime}
    </select>
    <select id="search4" resultType="com.hsxy.lose.pojo.Apply">
        select * from apply where typeid=#{typeid} and name=#{name}
    </select>

    <select id="searchgoods" resultType="com.hsxy.lose.pojo.Good">
        select * from good where typeid=#{typeid} and goodname=#{goodname} and time=#{time}
    </select>
    <select id="searchgoods2" resultType="com.hsxy.lose.pojo.Good">
        select * from good where typeid=#{typeid}
    </select>
    <select id="searchgoods3" resultType="com.hsxy.lose.pojo.Good">
        select * from good where typeid=#{typeid} and time=#{time}
    </select>
    <select id="searchgoods4" resultType="com.hsxy.lose.pojo.Good">
        select * from good where typeid=#{typeid} and goodname=#{goodname}
    </select>


    <select id="htsearch4" resultType="com.hsxy.lose.pojo.Apply">
        select * from apply where name=#{name}
    </select>
    <select id="htsearch3" resultType="com.hsxy.lose.pojo.Apply">
        select * from apply where applytime=#{applytime}
    </select>
    <select id="htsearch2" resultType="com.hsxy.lose.pojo.Apply">
        select * from apply where name=#{name} and applytime=#{applytime}
    </select>

    <select id="htsearchgoods4" resultType="com.hsxy.lose.pojo.Good">
        select * from good where goodname=#{goodname}
    </select>
    <select id="htsearchgoods3" resultType="com.hsxy.lose.pojo.Good">
        select * from good where time=#{time}
    </select>
    <select id="htsearchgoods2" resultType="com.hsxy.lose.pojo.Good">
        select * from good where goodname=#{goodname} and time=#{time}
    </select>


    <insert id="loselose2">
        insert into apply(applytime,applyexplain,userid,picture,place,name,typeid)
        values(#{applytime},#{applyexplain},#{userid},#{picture},#{place},#{name},#{typeid})
    </insert>
    <insert id="losefound2">
        insert into good(goodname,typeid,userid,goodexplain,time,place,photo)
        values(#{goodname},#{typeid},#{userid},#{goodexplain},#{time},#{place},#{photo})
    </insert>

</mapper>


