<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsxy.user.mapper.AdminMapper">

    <update id="modify" parameterType="com.hsxy.user.pojo.User">
        update user set username=#{user.username},password=#{user.password},name=#{user.name},
        gender=#{user.gender},email=#{user.email},phone=#{user.phone},departmentid=#{user.departmentid} where id=#{id}
    </update>
    <select id="xy" resultType="java.lang.String">
        select distinct(departmentid) from user
    </select>

    <select id="user" resultType="com.hsxy.user.pojo.User">
        select * from user
    </select>
    <select id="look" resultType="com.hsxy.user.pojo.User">
        select * from user where name=#{name} and username=#{username}
    </select>

    <select id="adminmessagechange" resultType="com.hsxy.user.pojo.User">
        select * from user where id=#{id}
    </select>

    <update id="adminmessagechange2" parameterType="com.hsxy.user.pojo.User">
         update user set username=#{user.username},password=#{user.password},name=#{user.name},
        gender=#{user.gender},email=#{user.email},phone=#{user.phone},departmentid=#{user.departmentid} where id=#{user.id}
    </update>

</mapper>


