<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsxy.user.mapper.UserMapper">

    <select id="up" resultType="com.hsxy.user.pojo.User">
        select * from USER where username=#{username} and password=#{password}
    </select>
    <update id="changepass">
        update user set password=#{password} where id=#{id}
    </update>
    <update id="changemess">
        update user set email=#{email},phone=#{phone} where id=#{id}
    </update>

    <insert id="insert" parameterType="com.hsxy.user.pojo.User">
        insert into user(username,password,name,gender,email,phone,departmentid)
        values(#{username},#{password},#{name},#{gender},#{email},#{phone},#{departmentid})
    </insert>

</mapper>


