body {
    margin: 0px;
    padding: 0px;
}
#h1 label{
    margin-left: 70px;
}
#h1 input{
    width: 150px;
    margin-left: 70px;
}
#h1 select{
    width: 150px;
    margin-left: 70px;
}
#h1 button{
    margin-left: 70px;
}

#h2{
    margin-top: 20px;
}


