<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsxy.news.mapper.NewsMapper">

    <select id="fb" resultType="java.lang.String">
        select name from newtype
    </select>
    <insert id="upload">
        insert into news(title,context,time,userid,newstypeid,file)
          values(#{title},#{context},#{time},#{userid},#{newstypeid},#{file})
    </insert>
    <select id="show" resultType="com.hsxy.news.pojo.News">
        select * from news
    </select>
</mapper>

