<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsxy.secondhand.mapper.SecondMapper">
    <select id="show" resultType="com.hsxy.secondhand.pojo.Second">
        select * from second
    </select>
    <select id="message" resultType="java.lang.Integer">
        select count(*) from message where to_days(time) = to_days(now())
    </select>
    <select id="messages" resultType="com.hsxy.secondhand.pojo.Message">
        select * from message
    </select>
    <select id="getMessage" resultType="com.hsxy.secondhand.pojo.Second">
        select * from second order by id desc
    </select>
    <select id="getMessage2" resultType="com.hsxy.secondhand.pojo.Second">
        select * from second where categoryid=#{categoryid}  order by id desc
    </select>

    <select id="search1" resultType="com.hsxy.secondhand.pojo.Second">
        select * from second where name=#{name} and time=#{time} and categoryid=#{categoryid}
    </select>
    <select id="search2" resultType="com.hsxy.secondhand.pojo.Second">
         select * from second where name=#{name} and categoryid=#{categoryid}
    </select>
    <select id="search3" resultType="com.hsxy.secondhand.pojo.Second">
         select * from second where time=#{time} and categoryid=#{categoryid}
    </select>
    <select id="search4" resultType="com.hsxy.secondhand.pojo.Second">
         select * from second where categoryid=#{categoryid}
    </select>

    <select id="searchcomment1" resultType="com.hsxy.secondhand.pojo.Message">
        select * from message where userid=#{userid} and time=#{time}
    </select>
    <select id="searchcomment2" resultType="com.hsxy.secondhand.pojo.Message">
        select * from message where userid=#{userid}
    </select>
    <select id="searchcomment3" resultType="com.hsxy.secondhand.pojo.Message">
        select * from message where time=#{time}
    </select>
    <select id="searchcomment4" resultType="com.hsxy.secondhand.pojo.Message">
        select * from message
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from second where id=#{id}
    </delete>
    <select id="modify" resultType="com.hsxy.secondhand.pojo.Second">
        select * from second where id=#{id}
    </select>
    <update id="modify2">
        update second set name=#{name},context=#{context},price=#{price},categoryid=#{categoryid} where id=#{id}
    </update>
    <delete id="delete2" parameterType="java.lang.Integer">
        delete from message where id=#{id}
    </delete>
    <select id="modify3" resultType="com.hsxy.secondhand.pojo.Message">
        select * from message where id=#{id}
    </select>
    <update id="modify4">
        update message set context=#{context} where id=#{id}
    </update>

    <insert id="fb">
        insert into second(name,categoryid,context,userid,time,price,photo)
         values(#{name},#{categoryid},#{context},#{userid},#{time},#{price},#{photo})
    </insert>
</mapper>

